In [1]:
import pandas as pd

In [2]:
#data wrangling start
df = pd.read_csv('coffee.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5746 entries, 0 to 5745
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5746 non-null   object
 1   Open      5746 non-null   float64
 2   High      5746 non-null   float64
 3   Low       5746 non-null   float64
 4   Close     5746 non-null   float64
 5   Volume    5746 non-null   int64
 6   Currency  5746 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 314.4+ KB

In [15]:
df.describe()

              Open         High          Low        Close        Volume
count  5746.000000  5746.000000  5746.000000  5746.000000   5746.000000
mean    127.267635   128.847034   125.784669   127.215567   8807.178907
std      50.569425    51.164948    49.851487    50.506519   9612.789034
min      41.500000    42.000000    41.500000    41.500000      0.000000
25%      98.800000   100.112500    97.862500    98.650000     61.000000
50%     120.400000   121.600000   118.950000   120.250000   7008.000000
75%     144.800000   146.000000   143.000000   144.337500  14497.750000
max     305.300000   306.250000   304.000000   304.900000  62045.000000

In [11]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.dtypes)

Date        datetime64[ns]
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
Currency            object
dtype: object

In [24]:
unique_counts = df.nunique()
unique_percents = (unique_counts / len(df)) * 100
print(unique_percents)

Date        100.000000
Open         43.247477
High         44.796380
Low          45.057431
Close        47.024017
Volume       64.601462
Currency      0.017403
dtype: float64

In [19]:
ranges = df.select_dtypes(include=['number']).agg(['min', 'max'])
print(ranges)

      Open    High    Low  Close  Volume
min   41.5   42.00   41.5   41.5       0
max  305.3  306.25  304.0  304.9   62045

In [26]:
missing_values = df.isnull().sum()

print(missing_values)

Date        0
Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [1]:
# data wrangling end